* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
}

.header {
  background: #1f2937;
  color: #f9faf8;
  padding: 20px 0;
}

.intro {
  margin: 0 auto;
  width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.intro ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.intro ul a:hover {
  color: #3882f6;
}
