* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
}

.header {
  background: #1f2937;
  color: #f9faf8;
  padding: 20px 0;
}

.intro {
  margin: 0 auto;
  width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.intro ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.intro ul a:hover {
  color: #3882f6;
}

.hero {
  background: #1f2937;
  color: #f9faf8;
  padding-top: 40px;
  padding-bottom: 60px;
}

.hero .container {
  margin: 0 auto;
  width: 1280px;

  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.hero .container > div {
  flex: 1;
}

.hero .container .left h2 {
  font-size: 60px;
  font-weight: 900;
}

.hero .container .left p {
  font-size: 18px;
  margin-top: 20px;
}

.hero .container .left a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  background: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  font-weight: bolder;
}

.hero .container .left a:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

.hero .container .right {
  background: #1f2937;
}

.hero .container .right img {
  display: block;
  height: 400px;
  width: 100%;
}

.info {
  padding: 80px;
  padding-bottom: 120px;
}

.info h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.testimonials {
  width: 960px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.testimonials .testimonial {
  width: 200px;
  overflow: hidden;
  margin-top: 40px;
}

.testimonials .testimonial img {
  display: inline-block;
  width: 200px;
  border-radius: 15px;
  height: 200px;
  background-color: #1f2937;
}

.testimonials .testimonial p {
  text-align: center;
  margin-top: 10px;
}

.quote {
  background-color: #e5e7eb;
  padding: 80px 0;
}

.quote .text {
  width: 960px;
  margin: 0 auto;
}

.quote .citation {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
}

.quote .author {
  text-align: right;
  font-size: 24px;
  margin-top: 10px;
  margin-right: 80px;
}

.call-to-action {
  padding: 80px 0;
}

.call-to-action .action {
  width: 1280px;
  margin: 0 auto;
  background: #3882f6;

  color: #f9faf8;
  padding: 60px 0;
  border-radius: 10px;
}

.call-to-action .call {
  width: 960px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-to-action h4 {
  font-size: 24px;
  font-weight: 700;
}

.call-to-action p {
  font-weight: 300;
  margin-top: 10px;
}

.call-to-action a {
  border: 3px solid #f9faf8;
  border-radius: 10px;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 18px;
}

.call-to-action a:hover {
  background: #f9faf8;
  color: #3882f6;
}

.footer {
  background: #1f2937;
  padding: 40px 0;
}

.footer p {
  color: #f9faf8;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}

.footer a:hover {
  color: #3882f6;
}
